

.App {
  text-align: center;
  background-image: url("../public/bg.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cairo", sans-serif;
font-weight: bold;
  justify-content: center;
}

.home{ 
      background:aliceblue;
      color: rgb(133, 24, 53);
      border-Radius: 5px ;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.456) 0px 5px 15px;

  }

.add-btn{
  display: flex;
}

.btn button {
  background-color: #851835;
  color: #fff;
  
}
.btn-group{
  margin: auto;
  width: 50%;
}
.btn{
  margin: 10px;
}
.TodoList{
  background-color:#1b7993;
  border-Radius: 5px ;
  margin: 10px;
  color: #fff;
  padding: 0px;
  transition: all 0.2s;

}
.TodoList:hover{
  box-shadow: rgba(0, 0, 0, 0.456) 0px 5px 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.TodoList button{
  width: 40px;
  height: 40px;
  line-height: 0px;
  border-radius: 50%;
  border-style:none ;
  margin-right: 20px;
  transition: all 0.2s ;
 
}
.TodoList button:hover{
background-color: #e4e4e4dc !important;
box-shadow: rgba(47, 47, 47, 0.438) 0px 0px 10px;
}
.TodoTitle {
  text-align: right;
  margin-right: 15px;
  padding: 10px;
}

/*Custo font*/
@font-face{
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Bold.ttf");
  font-weight: bold;
}
@font-face{
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Light.ttf");
  font-weight: light;

}
@font-face{
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Regular.ttf");
  font-weight: normal;

}
/*-----------------------------*/
