
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cairo", sans-serif;
  /* justify-content: center; */
}

.home{ 
      background:aliceblue;
      color: rgb(133, 24, 53);
      border-Radius: 5px ;
      align-items: center;
      justify-content: center;
  }
.add-btn{
  display: flex;
}
.btn button {
  background-color: #851835;
  color: #fff;
  font-family: "Cairo", sans-serif;
}
.btn-group{
  margin: auto;
  width: 50%;
}
.btn-group button{
  font-family: "Cairo", sans-serif;

}

.TodoList{
  background-color:#1b7993;
  border-Radius: 5px ;
  margin: 10px;
  color: #fff;

}
.TodoList:hover{
  box-shadow: rgba(0, 0, 0, 0.456) 0px 5px 15px;
}
.TodoList button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style:none ;
  margin-right: 20px;
  margin-top: 20%;
  box-shadow: rgba(133, 24, 53, 0.438) 2px 5px 15px;
 
}
.TodoTitle{
  padding-right: 20px;
}